spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: false

  flyway:
    enabled: false
    baseline-on-migrate: true
    baseline-version: "0"
    locations:
      - classpath:db/migration

  data:
    redis:
      host: ${REDIS_HOST:}
      port: ${REDIS_PORT:}

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:}

jwt:
  secret-key: ${JWT_SECRET_KEY}
  access-token-expiration: ${JWT_ACCESS_TOKEN_EXPIRATION}
  refresh-token-expiration: ${JWT_REFRESH_TOKEN_EXPIRATION}

logging:
  level:
    root: WARN
    com.beyond.qiin: INFO
